.welcome-logged{
  font-size: 1.5em;
  background-color: lightgreen;
  padding: 2em;
  color: white;
}

.welcome-notLogged{
  font-size: 1.5em;
  background-color: lightcoral;
  padding: 1.5em;
  color: white;
}

.icon{
  margin-left: 1em;
  color: yellow;
}